<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BD_CONFIGURACIONES_DEV" connectionString="Data Source=SRVWINBDWH\ORIGINARSA;Initial Catalog=BD_CONFIGURACIONES;User ID=dpaz;password=P@ssw0rd.01"/>
    <add name="BD_CONFIGURACIONES_PROD" connectionString="Data Source=SRVWINBDWH\ORIGINARSA;Initial Catalog=BD_CONFIGURACIONES;User ID=dpaz;password=P@ssw0rd.01"/>
  </connectionStrings>
</configuration>